body, body *{
    margin: 0;
    padding: 0;
    border: 0;
    
}

.container-fluid{
background-color: cadetblue;

}

.container-fluid img {
    width: 3rem;
    height: auto;
}

.d-block {
    height: 800px;
}

#tarjetas .container-fluid {
    background-color: black;
}

.container-fluid h5{
    color: white;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}