body, body *{
    margin: 0;
    padding: 0;
    border: 0;
    
}

.container-fluid{
background-color: cadetblue;

}

.container-fluid img {
    width: 3rem;
    height: auto;
}

.d-block {
    height: 800px;
}

.text-center{
    
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

.text{

    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    
    
}

.col-12 .container{
    background-color: cyan;
    
}
 .fa-solid {
    font-size: 2rem;
 }

